@import '../assets/css/index.css';

#option-box {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 7vw;
}
#option-box li {
  width: 12vw;
  height: 13vw;
  margin: 0 0.5vw;
  font-size: 2.8vw;
  color: #fff;
  text-align: center;
  line-height: 18vw;
  cursor: pointer;
  background: url('images/apple.png') center no-repeat;
  background-size: cover;
}
#option-box li img {
  height: 40%;
}

/* 猴子 */
#monkey {
  width: 18vw;
  position: absolute;
  left: 40vw;
  top: -40vw;
  transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#monkey img:first-child {
  position: relative;
  z-index: 1;
}

.monkey-apple {
  width: 6vw;
  height: 7vw;
  color: #fff;
  text-align: center;
  line-height: 6vw;
  position: absolute;
  bottom: 0;
  left: 5.5vw;
  background: url('images/apple.png') center no-repeat;
  background-size: cover;
}

/* 题目 */
#topic {
  width: 28vw;
  height: 13vw;
  position: absolute;
  left: 50%;
  top: 2vw;
  transform: translateX(-50%);
  background: url('images/topic.png') center no-repeat;
  background-size: cover;
  z-index: 2;
}
#topic img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 55%;
}

/* 篮子 */
#basket {
  width: 29vw;
  height: 15.5vw;
  font-size: 3.4vw;
  color: #fff;
  text-align: center;
  line-height: 9vw;
  background: url(images/basket.png) center no-repeat;
  background-size: cover;
  position: absolute;
  right: 2vw;
  bottom: 20vw;
  z-index: 2;
  box-sizing: border-box;
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
#basket img {
  height: 4vw;
  margin-right: 0.5vw;
}

/* 收获 */
.harvest {
  animation: harvest 1s linear forwards;
}
@keyframes harvest {
  0% {
    top: -10vw;
  }
  50% {
    top: -30vw;
  }
  90% {
    top: -40vw;
    left: 80vw;
  }
  100% {
    top: -30vw;
    left: 80vw;
  }
}
